Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and email below:

In [ ]:
# Full name
NAME = ""
# Institutional email (hm.edu or hmtm.de)
EMAIL = ""

---

# Rudiments of data science

## 1. Data manipulation

In the previous tutorial, you learned about two native data structures in python: `list` and `dict`. 
Even if thoses data structure are essential in python, they are not the most efficient way to manipulate data because they lack functionalities to manipulate data in a more efficient way.


We're going to learn how to manipulate data, i.e. a table with *attributes* as columns and *instances* as rows.

### Pandas library

[Pandas](https://fr.wikipedia.org/wiki/Pandas) is a python library that lets you:

- manipulate data tables, 
- carry out statistical analyses,

as you might do with a spreadsheet (e.g. Excel), but
**programmatically**, thus promoting **automation**.

The *Data tables* (type `DataFrame`) are arrays of two (or more) dimensions, with labels (*labels*) associated to rows and columns.
The data is not necessarily **homogeneous** as data types can change from one column to another (strings, floats, integer, etc.).

In addition, some data may be missing.

*Series* (type `Series`) are one-dimensional tables (vectors), typically obtained by extracting a column from a `DataFrame`.

In the rest of the course, by **table**, we mean a two-dimensional array of type `DataFrame`, while by **series** we mean a one-dimensional array of type `Series`.

These concepts of `DataFrame` and `Series` can also be found in other libraries or data analysis systems such as [`R`](https://fr.wikipedia.org/wiki/R_(language)).

In addition, Pandas makes it possible to process massive data distributed over many computers using parallelism libraries such as [dask](https://dask.org/)

In [ ]:
# Run this cell if you do this notebook on Google Colab or have not installed the library yet
!pip install pandas

## 2. Data series (`Series`)

Because `pandas` is not natively included in Python, we first need to import the library. It is customary to import it under the alias `pd`:

In [ ]:
import pandas as pd

Let's now create a `Series`object of art prices:

In [ ]:
prices = pd.Series([10000, 5200, 12000, 3500, 2500, 62500], name="Price")
prices

You will notice that the series is considered as a column and that the indices of its rows are displayed. By default, these are the integers $0,1,\ldots$, but other indices are possible. Similar to Python lists, the notation 't[i]' is used to
extract the line with index `i`:

In [ ]:
prices[1]

As with Python lists, The length of a series is obtained with the `len` function:

In [ ]:
len(prices)

Let's now calculate the average prices using the `mean` **method**:

In [ ]:
prices.mean()

<div class="alert alert-info">
<b>Instruction:</b> Now calculate the median price using the median method.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

<div class="alert alert-info">
<b>Instruction:</b> Calculate the minimum resp. maximum price of the serie using the min resp. max method.
</div>

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

<div class="alert alert-info">
<b>Instruction:</b> What is the range of prices, i.e. the difference between the maximum and minimum prices?
</div>

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

## 3. Data tables (`DataFrame`)

We are now going to construct a table containing (fake) artwork names and assign our fake prices to them.

Here is how to initialize a `DataFrame` from a dictionary:

In [ ]:
df = pd.DataFrame({
    "Artwork" : ["The Money Lisa", "The (Ice) Scream", "Autoportrait", "The Lady with the Plastic Earrings", "The Foggy Night", "The Ladies of Amignon"],
    "Price" : prices
});
df

You'll notice that:

- It is customary to use the variable name `df` to store a `DataFrame`. It is however better to choose a more evocative and explicit name such as `artwork_prices_df`.
- The first column of the array gives the row index. By default, this is their number, starting at 0. It is possible to specify the index explicitly using the `index` parameter.

The table we created has two dimensions and can be seen as a collection of columns. Each column is a `Series` object. The columns can be accessed from their labels using the notation `df['label']`:

In [ ]:
df["Artwork"]

In [ ]:
df["Price"]

In [ ]:
print(type(df))
print(type(df["Artwork"]))

You can then access each of the values in the table by
specifying its column label and then its row index. Here is the
artwork in the second line (index 1):

In [ ]:
df['Artwork'][1]

And the price value in the fourth line (index 3):

In [ ]:
df["Price"][3]

You can use the `loc` method to access the values of a row by specifying its index:

In [ ]:
df.loc[1]

You can also access the values of a column by specifying its index instead of its label using `iloc`:

In [ ]:
df.iloc[:, 0]

The `:` symbol is used to select all rows or all columns, but it can also be used to select a range of rows or columns. For example, to select the rows from the second to the fourth, you can use the notation `df[1:4]`:

In [ ]:
df[1:4]

The `:` notation can also be used with `iloc` to select an arbitrary range of rows and columns:

In [ ]:
df.iloc[1:4, 0]

## 4. Metadata and statistics

We're now using `Pandas` to extract some metadata
and statistics from our data.

Firstly, the size of the table:

In [ ]:
df.shape

The columns labels:

In [ ]:
df.columns

The number of rows:

In [ ]:
len(df)

Some general information:

In [ ]:
df.info()

The average of each column for which this makes sense, i.e. only columns containing numerical values (in this case only prices):

In [ ]:
df.mean(numeric_only = True)

Standard deviations:

In [ ]:
df.std(numeric_only = True)

Medians:

In [ ]:
df.median(numeric_only = True)

To be straightforward, the `describe` method provides a summary of the statistics for each column that contains numerical values:

In [ ]:
df.describe()

To add a new column to the table, you can use the following syntax:
```python
df['new_column'] = values
```

Let's add a column with the year of creation of each artwork:

In [ ]:
df["Year"] = [1503, 1893, 1889, 1941, 1910, 1797]
df

In [ ]:
df.describe()

## 5. Basic operations on data

Pandas allows you to perform operations.

Let's transform the table so that one of the columns
is used as indices, for example the artwork names:

In [ ]:
df1 = df.set_index("Artwork")
df1

It is now possible to access a price value using the name directly as a line index:

In [ ]:
df1['Price']["The Money Lisa"]

Let us now select all rows whose price is greater than 5000€:

In [ ]:
df1[df1["Price"] > 5000]

Cool huh?  How does it work?
Let's decompose the above expression.

Let's create a variable containing the prices of the artworks:

In [ ]:
prices = df1['Price']
prices

All operations are **vectorised** on all elements of the array or series. So, if we write `prices + 100`, this adds 1 to all the values in the series:

In [ ]:
prices + 100

Similarly, if we write `prices == 5200`, it returns a series of Booleans, each one indicating whether the corresponding value is equal to $5200$ or not:

In [ ]:
prices == 5200

Let's now store the series of artworks whose price is greater than $5000$ in a new variable:

In [ ]:
costMoreThan5000 = prices > 5000
costMoreThan5000

Indexing a `DataFrame` by a series of Booleans will
extracts the rows for which the series contains `True`:

In [ ]:
df1[costMoreThan5000]

This is why `df1[df1["Price"] > 5000]` selects the rows for which the price is greater than $5000$.

## 6. MoMA dataset

Now you've learned the basics to manipulate data with `pandas`, let's move on to a real dataset !

The **Museum of Modern Art (MoMA)**, established in 1929, is a museum located in Midtown Manhattan, New York City. It houses an extensive collection that has grown to almost 200,000 artworks from around the globe, covering the last 150 years.

The file `moma_artist.csv` contains information about artists including: their name, nationality, gender, birth and death year.

The file `moma_artwork.csv`contains information about artworks including: their title, artist name, the date of acquisition, and the category of the artwork (painting, sculpture, etc.)

Our analysis will try to answer the following research questions:

**RQ1.** What are the demographic characteristics of the artists curated by the MoMA?

**RQ2.** Did the artist curation of the MoMA shifted since its creation?

**RQ3.** In particular, did the proportion of international and female artists evolved?

To load the dataset, we use the `read_csv` function from `pandas`:

In [ ]:
df_artists = pd.read_csv("data/moma_artist.csv") 
df_artists

<div class="alert alert-info">
<b>Instruction:</b> How many rows and columns does the dataset contain?
</div>

YOUR ANSWER HERE

The column `Artist ID` assigns a unique identifier to each individual, in case homonyms exist in the dataset.

In [ ]:
df_artists["Artist ID"].nunique()

### 6.1 Analyzing artists' nationality

<div class="alert alert-info">
<b>Instruction:</b> What is the most common artist's nationalities in this dataset? Use the `value_counts` method on the `Nationality` serie extracted from the dataframe.
</div>

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Visualization is of crucial importance in data analysis. The `seaborn` library is an extension of `matplotlib` that provides a high-level interface for drawing attractive and informative statistical graphics.

If you are not sure what would be a good visualization for your data, you can browse the excellent [Python graph gallery](https://python-graph-gallery.com/) that also provides code snippets (using `matplotlib` or `seaborn`) to generate the plots.

Let's use an horizontal barplot to visualize the most common artist's nationalities:

In [ ]:
# Run this cell if you haven't installed seaborn yet or work on a Google Colab
!pip install matplotlib
!pip install seaborn

In [ ]:
import seaborn as sns

For visibility let's only display the top 10 artists' nationalities:

In [ ]:
top10Nationalities = df_artists["Nationality"].value_counts().head(10)
top10Nationalities

In [ ]:
sns.barplot(x=top10Nationalities, y=top10Nationalities.index)

### 6.2 Analyzing artists' gender

Dataset often contain incorrect or missing values.
For example, let's look at artists' gender:

In [ ]:
gender = df_artists["Gender"].value_counts()
gender

It becomes obvious that there is an inconsistency in the format of the labels. Let's fix this by converting all labels to lowercase:

In [ ]:
df_artists["Gender"] = df_artists["Gender"].str.lower()
gender = df_artists["Gender"].value_counts()
gender

<div class="alert alert-info">
<b>Instruction:</b> Visualize the gender distribution of artists that were curated at the MoMA using the visualization of your choice.
</div>

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Let's now wonder about the relation between artists' birth years (age) and gender in this dataset. 

We can hypothesize: 

**Gender balance among curated artists has increased over the years.**
 
To verify this hypothesis, we must, at least, visualize the data we possess, and ideally perform statistical tests.

Let's start by visualizing the birth year distribution of all artists, independently of their gender.

In [ ]:
sns.histplot(data=df_artists, x='Birth Year', bins=50)

Now let's visualize the birth year distribution of artists, grouped by gender. We assign the `Gender` column to the `hue` (color) parameter of the `sns.histplot` function, and decide to stack the bars by setting the `multiple` parameter to `stack`:

In [ ]:
sns.histplot(data=df_artists, x='Birth Year', hue="Gender", multiple="stack")

It is hard to interpret gender balance from this plot because:

- the number of artists per band of birth years birth years also varies;
- there is a lot of bins (band of birth years), i.e. the histogram is too granular;

Let's instead plot the proportion of female artists as their birth year increases. We can do this by using the `sns.histplot` function with the `stat` parameter set to `density` and the `multiple` parameter set to `fill`.

In [ ]:
sns.histplot(data=df_artists, x='Birth Year', hue="Gender", stat="density", multiple="fill", bins=12)

<div class="alert alert-info">
<b>Instruction:</b> Describe the visualization above.
</div>

YOUR ANSWER HERE

<div class="alert alert-info">
<b>Instruction:</b> Give possible interpretations of the visualization above. Keep in mind that interpretations are additional hypotheses that need to be verified with further analysis. They are however essential to guide future analysis and is part your role as a data analyst or researcher.
</div>

YOUR ANSWER HERE

## 7. Advanced analysis

The `moma_artist.csv` file contains limited information about the curation of the MoMA.
In particular, we do not have information at the artwork level or the date of acquisition of the pieces.

Let us now import the `moma_artwork.csv` file to get more information about the artworks.

In [ ]:
df_artworks = pd.read_csv("data/moma_artwork.csv")
df_artworks.head(7)

To further shed light on our question about gender balance in the curation of the MoMA, we can now analyze their curation at the level of artworks, and in particular the acquisition year.

<div class="alert alert-info">
<b>Instruction:</b> What is the most recent acquisitions in the present dataset? Use the `sort_values` method to list the artworks by descending order of acquisition date.
</div>

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

<div class="alert alert-info">
<b>Instruction:</b> What is the most ancient acquisition present in the dataset? What can you say about it?
</div>

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

YOUR ANSWER HERE

Let's delete the row corresponding to the artwork with the acquisition date 1216 using the `drop` method and the `index` parameter:

In [ ]:
df_artworks = df_artworks.drop(index=128443)

We want to analyze artists' gender on the artwork-level to further investigate our question on gender balance in the curation of the MoMA. The problem is that `moma_artwork.csv` does not contain information about artists' gender.

We can however merge the two datasets, `moma_artist.csv` and `moma_artwork.csv`, on the basis of artist names and artists birth years.

In [ ]:
df_merged = pd.merge(df_artists, df_artworks, left_on=["Name", "Birth Year"], right_on=["Artist", "BirthYear"])
df_merged.head(5)

The `merge` method allows to merge two dataframes on the basis of common columns.
Now, each row corresponds to an artwork as in `moma_artwork.csv`, but the columns also has information about the artist as in `moma_artist.csv`.

### 7.1 Analyzing curated artists' nationality over time

Now that we have merged the two datasets, we can analyze the nationality of artists over time and at the artwork level.

Let's now implement an appropriate format and visualization to show the evolution of artists' nationality as a function of the acquisition year of artworks.

In [ ]:

# Clean data
df_clean = df_merged.dropna(subset=['Nationality', 'YearAcquired'])

# Identify the top 5 nationalities
top_nationalities = df_clean['Nationality'].value_counts().nlargest(5).index

# Group and recategorize nationalities
df_clean['GroupedNationality'] = df_clean['Nationality'].apply(lambda x: x if x in top_nationalities else 'Other')

# Group 
nationality_yearly = df_clean.groupby(['YearAcquired', 'GroupedNationality']).size()

# Convert the Series to a DataFrame for easier manipulation
nationality_yearly_df = nationality_yearly.unstack(fill_value=0)

# Calculate total acquisitions per year
total_per_year = nationality_yearly_df.sum(axis=1)

# Calculate the percentage of total artworks acquired by each grouped nationality each year
nationality_percentage = nationality_yearly_df.div(total_per_year, axis=0) * 100

# Convert the result back to a format suitable for further analysis or plotting
nationality_percentage_stacked = nationality_percentage.stack()

# Show the result (Optional)
print(nationality_percentage.head())

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(12, 6))
nationality_percentage.plot(kind='area', stacked=True, ax=plt.gca())
plt.title("Ratio of artists' nationalities of MoMA acquisitions over time")
plt.xlabel('Year Acquired')
plt.ylabel('Nationality ratio (%)')
plt.legend(title='Nationality', bbox_to_anchor=(1.05, 1), loc='upper left')
plt.grid(True)
plt.tight_layout()  # Adjusts plot to ensure everything fits without overlap
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Clean data
df_clean = df_merged.dropna(subset=['Nationality', 'YearAcquired'])

# Identify the top 5 nationalities
top_nationalities = df_clean['Nationality'].value_counts().nlargest(5).index

# Group and recategorize nationalities
df_clean['GroupedNationality'] = df_clean['Nationality'].apply(lambda x: x if x in top_nationalities else 'Other')

# Group by YearAcquired and GroupedNationality and count the artworks
nationality_yearly = df_clean.groupby(['YearAcquired', 'GroupedNationality']).size()

# Convert the Series to a DataFrame for easier manipulation
nationality_yearly_df = nationality_yearly.unstack(fill_value=0)

# Cumulative total artworks acquired by nationality over years
cumulative_nationality = nationality_yearly_df.cumsum()

# Plotting
plt.figure(figsize=(12, 6))
cumulative_nationality.plot(kind='area', stacked=True, ax=plt.gca())
plt.title("Cumulative total of MoMA acquisitions by artist nationality over time")
plt.xlabel('Year Acquired')
plt.ylabel('Total Artworks Acquired')
plt.legend(title='Nationality', bbox_to_anchor=(1.05, 1), loc='upper left')
plt.grid(True)
plt.tight_layout()  # Adjusts plot to ensure everything fits without overlap
plt.show()

<div class="alert alert-info">
<b>Instruction:</b> Describe and interpret the visualization above.
</div>

YOUR ANSWER HERE

### 7.2 Analysis of artists' gender

<div class="alert alert-info">
<b>Instruction:</b> Repeat a similar analysis but for artists' gender as a function of artwork acquisition year. Use a stacked area plot as a visualization.
</div>

In [ ]:

# Clean data
df_clean = df_merged.dropna(subset=['Gender', 'YearAcquired'])
df_clean['Gender'] = df_clean['Gender'].apply(lambda x: x.lower())

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# Plotting the stacked area chart
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Clean data
df_clean = df_merged.dropna(subset=['Gender', 'YearAcquired'])
df_clean['Gender'] = df_clean['Gender'].apply(lambda x: x.lower())

# Group by YearAcquired and Gender and count the artworks
gender_yearly = df_clean.groupby(['YearAcquired', 'Gender']).size()

# Convert the Series to a DataFrame for easier manipulation
gender_yearly_df = gender_yearly.unstack(fill_value=0)

# Cumulative total artworks acquired by gender over years
cumulative_gender = gender_yearly_df.cumsum()

# Plotting
plt.figure(figsize=(12, 6))
cumulative_gender.plot(kind='area', stacked=True, ax=plt.gca())
plt.title("Cumulative total of MoMA acquisitions by artist gender over time")
plt.xlabel('Year Acquired')
plt.ylabel('Total Artworks Acquired')
plt.legend(title='Gender', bbox_to_anchor=(1.05, 1), loc='upper left')
plt.grid(True)
plt.tight_layout()  # Adjusts plot to ensure everything fits without overlap
plt.show()

<div class="alert alert-info">
<b>Instruction:</b> Describe and interpret the visualization above.
</div>

YOUR ANSWER HERE

<div class="alert alert-info">
<b>Instruction:</b> Conclude about your analysis of the MoMA dataset and according to the research questions raised at the beginning. What are the limitations of your analysis and possible future work?
</div>

YOUR ANSWER HERE

## Well done!

You've learned the basics of `pandas` and `seaborn`, two essential libraries for data manipulation and visualization in Python.

In particular, you should now be able to:

 - create and manipulate `Series` and `DataFrame` objects;
 - extract metadata and statistics from a dataset;
 - perform basic operations on data, such as filtering and adding columns;
 - visualize data using `seaborn` and `matplotlib`;
 - merge two datasets on the basis of common columns;
 - comment and interpret the results of your analysis.
 
It is time to learn about machine learning in python! Go to the next sheet [Machine learning tutorial](03_tutorial_data_science.ipynb)